* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 200vh;
    font-family: Arial, sans-serif;
}
header.header {
    background-color: black;
    width: 100%;
    height: 10vh;
}
.container {
    width: 80%;
    margin: 0 auto;
}
.menu {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    height: 100%;
}
.green {
    color: #56BBA0;
}
ul.list_menu li {
    display: inline-block;
    padding-left: 15px;
}
ul.list_menu li a {
    text-decoration: none;
    color: white;
}
section.banner {
    background: rgba(242,242,242,1);
    background: -moz-linear-gradient(top, rgba(242,242,242,1) 6%, rgba(243,243,244,1) 44%, rgba(244,244,246,1) 72%, rgba(227,227,228,1) 91%, rgba(224,224,224,1) 95%);
    background: -webkit-gradient(left top, left bottom, color-stop(6%, rgba(242,242,242,1)), color-stop(44%, rgba(243,243,244,1)), color-stop(72%, rgba(244,244,246,1)), color-stop(91%, rgba(227,227,228,1)), color-stop(95%, rgba(224,224,224,1)));
    background: -webkit-linear-gradient(top, rgba(242,242,242,1) 6%, rgba(243,243,244,1) 44%, rgba(244,244,246,1) 72%, rgba(227,227,228,1) 91%, rgba(224,224,224,1) 95%);
    background: -o-linear-gradient(top, rgba(242,242,242,1) 6%, rgba(243,243,244,1) 44%, rgba(244,244,246,1) 72%, rgba(227,227,228,1) 91%, rgba(224,224,224,1) 95%);
    background: -ms-linear-gradient(top, rgba(242,242,242,1) 6%, rgba(243,243,244,1) 44%, rgba(244,244,246,1) 72%, rgba(227,227,228,1) 91%, rgba(224,224,224,1) 95%);
    background: linear-gradient(to bottom, rgba(242,242,242,1) 6%, rgba(243,243,244,1) 44%, rgba(244,244,246,1) 72%, rgba(227,227,228,1) 91%, rgba(224,224,224,1) 95%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#e0e0e0', GradientType=0 );
}
.banner-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60vh;
}
.fas {
    font-size: 48px;
}
img.black-chair {
    width: 100%;
}
div.wrap1 {
    margin-bottom: 20px;
}
div.wrap1 h1 {
    font-size: 48px;
    text-align: center;
    padding-bottom: 20px;
}
div.wrap1 p {
    text-align: center;
    margin: 0 auto;
    width: 80%;
    font-size: 16px;
    line-height: 1.5em;
}
button.banner-button {
    display: block;
    margin: 40px auto;
    color: white;
    background: #56BBA0;
    background-image: -webkit-linear-gradient(top, #56BBA0, #56BBA0);
    background-image: -moz-linear-gradient(top, #56BBA0, #56BBA0);
    background-image: -ms-linear-gradient(top, #56BBA0, #56BBA0);
    background-image: -o-linear-gradient(top, #56BBA0, #56BBA0);
    background-image: linear-gradient(to bottom, #56BBA0, #56BBA0);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-size: 24px;
    padding: 15px 30px 15px 30px;
    text-decoration: none;
    outline: none;
}
button.banner-button:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #56BBA0);
    background-image: -moz-linear-gradient(top, #3cb0fd, #56BBA0);
    background-image: -ms-linear-gradient(top, #3cb0fd, #56BBA0);
    background-image: -o-linear-gradient(top, #3cb0fd, #56BBA0);
    background-image: linear-gradient(to bottom, #3cb0fd, #56BBA0);
    text-decoration: none;
}
i.fas:hover {
    color: #3cb0fd;
    color: -webkit-linear-gradient(top, #3cb0fd, #56BBA0);
    color: -moz-linear-gradient(top, #3cb0fd, #56BBA0);
    color: -ms-linear-gradient(top, #3cb0fd, #56BBA0);
    color: -o-linear-gradient(top, #3cb0fd, #56BBA0);
    color: linear-gradient(to bottom, #3cb0fd, #56BBA0);
}
section.products {
    height: 40vh;
    display: flex;
}
div.wrap2 {
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
}
div.wrap2 div {
    width: 30%;
}
div.images {
    position: relative;
}
img.item-chairs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
div.item-3 {
    border: 1px solid lightgrey;

}