* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --green-colour: #56BBA0;
    --light-grey: #C1C2C1;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
main {
    position: relative;
}
header.header {
    background-color: black;
    width: 100%;
    height: 70px;
}
.container {
    width: 1600px;
    margin: 0 auto;
}
.green {
    color: var(--green-colour);
    font-weight: 600;
}
.menu {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    height: 100%;
    position: relative;
}
.company_name span {
    font-weight: 700;
}
.list_menu {
    height: 100%;
    line-height: 70px;
}
.list_menu .menu-items {
    display: inline-block;
    padding-left: 15px;
}
.list_menu a {
    text-decoration: none;
    color: white;
}
.about-company-square {
    height: 15px;
    width: 15px;
    background-color:black;
    position: absolute;
    transform: rotate(45deg);
    left: 45%;
    top: calc((-15px) / 2);
}
#about {
    position: relative;
}
.company-menu {
    list-style: none;
    background-color: black;
    padding: 0 20px 20px;
    display: none;
    position: absolute;
    margin-top: 2px;
    border-radius: 4%;
}
.on {
    display: block;
}
.company-menu li {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding-top: 6px;
}
.company-menu a {
    text-decoration: none;
    color: white;
}
.arrow-up {
    width: 85px;
    height: 85px;
    position: fixed;
    bottom: 40px;
    right: 40px;
}
.arrow-off {
    display: none;
}
.fa-chevron-up {
    color: #4F4F4F;
    font-size: 36px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 40%);
    text-shadow: 0 -18px 0 #4F4F4F, 0 -36px 0 #4F4F4F;
    animation: move 1s linear infinite;
}
@keyframes move {
    100% {
        transform: translate(-50%, -40%);
    }
}
section.banner {
    background: rgba(242,242,242,1);
    background: -moz-linear-gradient(top, rgba(242,242,242,1) 6%, rgba(243,243,244,1) 44%, rgba(244,244,246,1) 72%, rgba(227,227,228,1) 91%, rgba(224,224,224,1) 95%);
    background: -webkit-gradient(left top, left bottom, color-stop(6%, rgba(242,242,242,1)), color-stop(44%, rgba(243,243,244,1)), color-stop(72%, rgba(244,244,246,1)), color-stop(91%, rgba(227,227,228,1)), color-stop(95%, rgba(224,224,224,1)));
    background: -webkit-linear-gradient(top, rgba(242,242,242,1) 6%, rgba(243,243,244,1) 44%, rgba(244,244,246,1) 72%, rgba(227,227,228,1) 91%, rgba(224,224,224,1) 95%);
    background: -o-linear-gradient(top, rgba(242,242,242,1) 6%, rgba(243,243,244,1) 44%, rgba(244,244,246,1) 72%, rgba(227,227,228,1) 91%, rgba(224,224,224,1) 95%);
    background: -ms-linear-gradient(top, rgba(242,242,242,1) 6%, rgba(243,243,244,1) 44%, rgba(244,244,246,1) 72%, rgba(227,227,228,1) 91%, rgba(224,224,224,1) 95%);
    background: linear-gradient(to bottom, rgba(242,242,242,1) 6%, rgba(243,243,244,1) 44%, rgba(244,244,246,1) 72%, rgba(227,227,228,1) 91%, rgba(224,224,224,1) 95%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#e0e0e0', GradientType=0 );
    height: 650px;
    width: 100%;
}
.banner-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    font-family: 'Raleway', sans-serif;
}
.product {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.fa-chevron-left,
.fa-chevron-right {
    font-size: 68px;
}
.main-image {
    position: relative;
    min-width: calc(300px * 1.5);
    min-height: calc(275px * 1.5);
    margin-left: 30px;
}
.black-chair,
.orange-chair {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: calc(300px * 1.5);
    min-height: calc(275px * 1.5);
}
.orange-chair {
    transform: translate(-47%, -43%);
}
.image-off {
    display: none;
}
.wrap1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:50%;
}
.wrap1 p:nth-child(1) {
    font-size: 54px;
    text-align: center;
    padding-bottom: 20px;
    font-weight: 500;
}
.wrap1 p:nth-child(2) {
    text-align: center;
    margin: 0 auto;
    width: 80%;
    font-size: 18px;
    line-height: 1.5em;
}
button.banner-button, .join, .send-data, .order {
    display: block;
    margin: 40px auto;
    color: white;
    background: var(--green-colour);
    background-image: -webkit-linear-gradient(top, var(--green-colour), var(--green-colour));
    background-image: -moz-linear-gradient(top, var(--green-colour), var(--green-colour));
    background-image: -ms-linear-gradient(top, var(--green-colour), var(--green-colour));
    background-image: -o-linear-gradient(top, var(--green-colour), var(--green-colour));
    background-image: linear-gradient(to bottom, var(--green-colour), var(--green-colour));
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-size: 28px;
    padding: 15px 50px;
    text-decoration: none;
    outline: none;
    font-family: 'Raleway', sans-serif;
}
.banner-button:hover, .join:hover, .send-data:hover, .order:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #56BBA0);
    background-image: -moz-linear-gradient(top, #3cb0fd, #56BBA0);
    background-image: -ms-linear-gradient(top, #3cb0fd, #56BBA0);
    background-image: -o-linear-gradient(top, #3cb0fd, #56BBA0);
    background-image: linear-gradient(to bottom, #3cb0fd, #56BBA0);
    text-decoration: none;
    outline: none;
    cursor: pointer;
}
.fa-chevron-left:hover,
.fa-chevron-right:hover {
    color: #3cb0fd;
    color: -webkit-linear-gradient(top, #3cb0fd, #56BBA0);
    color: -moz-linear-gradient(top, #3cb0fd, #56BBA0);
    color: -ms-linear-gradient(top, #3cb0fd, #56BBA0);
    color: -o-linear-gradient(top, #3cb0fd, #56BBA0);
    color: linear-gradient(to bottom, #3cb0fd, #56BBA0);
    cursor: pointer;
}
.products {
    height: 350px;
    display: flex;
    margin-top: 40px;
    margin-bottom: 120px;
}
.wrap2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.wrap2 div {
    width: 30%;
    font-size: 20px;
}
.images {
    position: relative;
}
img.item-chairs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
.images:hover img.item-chairs {
    min-width: calc(329px * 1.6);
    min-height: calc(225px * 1.6);
}
.images .images-text {
    position: absolute;
    width: 106%;
    background-color: rgba(232,227,224, .6);
    height: 90px;;
    left: -3%;
    top: 65%;
    line-height: 22px;
}
.images-text p {
    font-size: 22px;
    font-weight: bold;
    margin: 20px 15px;
    border-bottom: 10px solid var(--green-colour);
    max-width: 50%;
}
.item-3 {
    border: 1px solid lightgrey;
    height: 100%;
    width: 100%;
    align-self: center;
}
.item-3 .item-3_wrap {
    width: 90%;
    font-size: 18px;
    margin: 30px auto;
}
.item-3_wrap p:nth-child(1) {
    width: 45%;
    font-size: 22px;
    font-weight: bold;
    border-bottom: 10px solid var(--green-colour);
}
.item-3_wrap p:nth-child(2),
.item-3_wrap p:nth-child(3) {
    color: #898989;
    line-height: 1.7em;
    font-weight: 500;
    margin-top: 15px;
    font-family: 'Raleway', sans-serif;
}
section.price-list {
    width: 100%;
    height: 1080px;
    background-color: #F1F1F1;
}
.wrap-price-list{
    padding-top: 60px;
}
.wrap-price-list > p {
    font-size: 28px;
    color: #4F4F4F;
    width: 29%;
    padding-bottom: 3px;
    margin-bottom: 100px;
    border-bottom: 10px solid var(--green-colour);
}
.price-plans-options {
    display: flex;
    justify-content: space-between;
}
.basic-plan,
.standard-plan,
.advance-plan {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    height: 800px;
    border: 2px solid var(--light-grey);
    background-color: #F9F9F9;
}
.basic-plan:hover,
.standard-plan:hover,
.advance-plan:hover {
    background-color: var(--green-colour);
    border: none;
    padding: 2px;
}
.basic-plan:hover .big-square,
.standard-plan:hover .big-square,
.advance-plan:hover .big-square {
    background-color: var(--green-colour);
    border: none;
}
.basic-plan:hover .small-square,
.standard-plan:hover .small-square,
.advance-plan:hover .small-square {
    background-color: white;
}
.basic-plan:hover .plan,
.standard-plan:hover .plan,
.advance-plan:hover .plan {
    color: white;

}
.basic-plan:hover .price,
.standard-plan:hover .price,
.advance-plan:hover .price {
    border: none;
    color: var(--green-colour);
}
.basic-plan:hover .price-plans-features p:nth-child(odd),
.standard-plan:hover .price-plans-features p:nth-child(odd),
.advance-plan:hover .price-plans-features p:nth-child(odd){
    background-color: white;
}
.basic-plan:hover .join,
.standard-plan:hover .join,
.advance-plan:hover .join {
    background: white;
    color: var(--green-colour);
}
.price-plans-container1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50%;
}
.price-plans-container2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
}
.big-square {
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: white;
    border: 2px solid var(--light-grey);
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    top: -50px;
}
.small-square {
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: var(--light-grey);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.plan {
    font-size: 32px;
    color: var(--green-colour);
    text-align: center;
}
.price {
    position: relative;
    width: 200px;
    height: 200px;
    border: 3px solid var(--light-grey);
    color: var(--light-grey);
    background-color: white;
    border-radius: 50%;
    margin: 0 auto;
}
.price-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.price-label p {
    font-size: 34px;
    font-weight: bold;
}
.price-label p:nth-child(1){
    text-align: center;
    font-size: 58px;
}
.price-plans-features {
    font-size: 38px;
    color: #8B8B8B;
    text-align: center;
}
.price-plans-features p {
    padding: 10px 0;
    font-family: 'Raleway', sans-serif;
}
.price-plans-features p:nth-child(odd){
    background-color: #E4E4E4;
}
.price-plans-features p:nth-child(even){
    background-color: #F1F1F1;
}
.order-btn-section {
    background-color: #F1F1F1;
}
.main-form {
    display: flex;
    width: 100%;
    height: 400px;
    justify-content: space-between;
}
.form-wrap {
    margin-top: 35px;
}
.form-wrap > p{
    font-size: 28px;
    color: #4F4F4F;
    width: 30%;
    padding-bottom: 3px;
    margin-bottom: 50px;
    border-bottom: 10px solid var(--green-colour);
}
.main-form-container1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 100%;
}
.main-form-container1 label:nth-child(1),
.main-form-container1 label:nth-child(2) {
    height: 15%;
    width: 100%;
}
.main-form-container1 label:nth-child(3) {
    height: 50%;
    width: 100%;
}
.main-form-container1 input,
.main-form-container1 textarea {
    display: block;
    width: 100%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    border: 1px solid var(--green-colour);
}
.main-form-container1 textarea {
    text-align: start;
    resize: none;
}
.main-form-container1 input::placeholder,
.main-form-container1 textarea::placeholder {
    color: var(--light-grey);
    font-size: 36px;
    font-weight: 100;
    font-family: 'Raleway', sans-serif;
    padding-left: 15px
}
.main-form-container1 textarea::placeholder {
    padding-top: 15px;
}
.main-form-container2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 43%;
    height: 100%;
}
.red-chair {
    margin: 0 auto;
}
.personal-data {
    display: flex;
    width: 96%;
    align-items: center;
    flex-direction: column;
}
.checbox-style {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    user-select: none;
    cursor: pointer;
}
.personal-data label {
    color: var(--light-grey);
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
}
.personal-data input {
    display: none;
}
.checkmark {
    background-color: white;
    border: 1px solid var(--green-colour);
    position: relative;
    height: 60px;
    width: 60px;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
    background-image: url("../images/form_ok.jpg");
    background-repeat: no-repeat;
    background-position: center;;
    width: 60px;
    height: 60px;
}
.container input:checked ~ .checkmark:after {
    display: block;
}
.send-data {
    font-weight: 700;
    font-size: 38px;
    margin: 0;
    padding: 20px 0;
}
footer.footer {
    height: 200px;
}
.footer-wrapper-main {
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
}
.footer-wrapper-nested {
    display: flex;
    justify-content: space-between;
    width: calc(50% - 110px);
}
.copyright p,
.footer-company-name {
    font-size: 28px;
    font-family: 'Raleway', sans-serif;
    color: #8B8B8B;
    font-weight: 500;
}
.footer-company-name span {
    font-weight: 700;
}
.icons {
    width: 40px;
    height: 40px;
}

.application {
    background-color: #f9f9f9;
    padding:30px 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    border-radius: 5px;
    z-index: 3;
}
.application h3 {
    color: #575757;
    font-size: 18px;
}

.application header.align_right{
    text-align: right;
}


.inline {
    display:inline-block;
    width:300px;
    padding:14px;
    vertical-align: top;
}


.form {
    margin-top:50px;
}
.drop_down_list {
    border:1px solid #8de0d2;
    width: 280px;
    height:38px;
    background-color: white;
    margin-top:22px;
    padding: 8px 12px;
    position: relative;
}

.list_label {
    font-size: 30px;
    color: #e2e2e2;
    font-family: 'ralewaylight', Arial, Tahoma, sans-serif;
}


.checkbox {
    position: relative;
    padding: 30px 30px 30px 0;
}
.checkbox input {
    display: block;
    opacity: 0;
    height: 48px;
    position: absolute;
    width: 48px;
    cursor: pointer;
}

.checkbox label {
    display: block;
    padding-left: 65px;
    position: relative;
    font-size: 28px;
    color: #cecece;
    line-height: 120%;
    padding-top: 10px;
    cursor: pointer;
}

.checkbox label::before, .checkbox label::after {
    border: 1px solid #27c7ab;
    content: "";
    display: block;
    left: 0;
    height: 48px;
    position: absolute;
    width: 48px;
    top: 0;
}
.checkbox label::after {
    background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20preserveAspectRatio%3D%22xMidYMid%22%20width%3D%2233.875%22%20height%3D%2233%22%20viewBox%3D%220%200%2033.875%2033%22%3E%0A%20%20%3Cpath%20d%3D%22M9.470%2C15.209%20L14.061%2C24.104%20C14.061%2C24.104%2021.522%2C6.026%2033.287%2C-0.000%20C33.000%2C4.304%2031.852%2C8.035%2033.861%2C12.626%20C28.696%2C13.774%2018.078%2C26.687%2014.635%2C33.000%20C9.756%2C26.974%204.017%2C22.382%20-0.000%2C20.948%20L9.470%2C15.209%20Z%22%20fill%3D%22%2327c7ab%22/%3E%0A%3C/svg%3E%0A") no-repeat center;
    border: 0;
    display: none;
}

.checkbox input:checked + label::after {
    display: block;
}


.active {
    background: url('../images/form_ok.jpg');
    width: 48px;
    height: 40px;

}
.inline_text {
    display: inline-block;
    width: 228px;
    vertical-align: top;
    margin-top: 30px;
    margin-left: 15px;
    color: #aeaeae;
}
.image_part img{
    margin-top: 110px;
    margin-left: 38px;
}


.application .green_bell {
    background-color: #24baa0;
    width: 200px;
    height: 6px;
    display: inline-block;
    margin: 5px 0 5px 0;
}

.summary_panel {
    background-color: white;
    width:100%;
    height:195px;
    padding:10px;
    margin-top: 50px;

}

.application .green_button {
    background-color: #27c7ab;
    color: white;
    text-align:center;
    text-transform: uppercase;
    width: 200px;
    padding: 10px 30px;
    font-size: 24px;
    display: inline-block;
    font-family: 'ralewaymedium', Arial, Tahoma, sans-serif;
    margin-top: 20px;
    margin-left: 29px;
    border-radius: 8px;
    text-decoration: none;
}
.panel_left {
    display: inline-block;
    width: 185px;
    vertical-align: top;
    padding-bottom:10px;
    border-bottom:1px solid #e7e7e7;
    height: 135px;
}

.panel_right {
    display: inline-block;
    width: 100px;
    border-left:1px solid #e7e7e7;
    text-align: right;
    vertical-align: top;
    padding-bottom:10px;
    border-bottom:1px solid #e7e7e7;
    height: 135px;
}

.panel_left h4 , .panel_right h4{
    color: #24baa0;
    font-size: 23px;
}

.panel_left span{
    margin-top:10px;
    font-size: 22px;
    color: #5b5a5a;
    display: block;
}

.panel_right span {
    display: block;
    font-size: 22px;
    color: #24baa0;
    margin-top:10px;
}
.sum_label{
    display: inline-block;
    width: 185px;
    margin-top: 10px;
    font-size: 22px;
    color: #5b5a5a;
}

.sum {
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-top: 10px;
    font-size: 22px;
    color: #24baa0;
}

.list_arrow {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #24baa0;
    display:block;
    position: absolute;
    right: 14px;
    top: 20px;
    cursor: pointer;
}

.list_panel {
    background-color: white;
    border: 1px solid #ccc;
    width: 288px;
    padding-left: 15px;
    padding-bottom: 10px;
    list-style: none;
    margin: 0;
    left: 0px;
    z-index: 2;
    position: absolute;
    top: 54px;
    display:none;
}
.list_panel li {
    margin-top:10px;
    cursor: pointer;
    color: #585858;
}

.title {
    height: 30px;
}
.application-wrapper {
    background-color: rgba(241,241,241, .85);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
#order-section {
   display: none;
}
.on {
    display: block !important;
}

.noScroll {
    overflow: hidden;
}
#close-icon {
    top: -32px;
    right: -32px;
    position: absolute;
}